    * {
        font-family: 'Ubuntu', sans-serif;
    }
    
    body {
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    input {
        width: 80%;
        height: 9%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    button{
        width: 80%;
        height: 9%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    .divEsq {
        width: 40%;
        height: 100vh;
        z-index: 0;
    }
    .divImg{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
    }
    .divImg img {
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    .divDir {
        width: 60%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a3b18a;
        z-index: 0;
        box-shadow: -10px -10px 24px 17px #a3b18a;
    }
    .divMeio {
        display: flex;
        height: 40%;
        width: 40%;
        flex-direction: column;
        background-color: #DAD7CD;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        box-shadow: 15px 15px 24px #a3b18a;

    }
    
